@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer components {
  .inputContainer{
    @apply flex flex-col w-full;
  }
  .inputLabel{
    @apply text-[13px] text-gray-600 mb-1 w-full;
  }
  .input{
    @apply border-[2px] border-gray-100 p-2 rounded-md w-full focus:border-gray-300 duration-300 focus:outline-0;
  }
  .buttonSubmit{
    @apply bg-teal-700 text-white rounded-md p-3 w-full cursor-pointer hover:bg-teal-800 duration-300;
  }
}
input{
  @apply bg-transparent;
}
input:invalid {
  background: pink;
}

input:focus {
  background: bg-transparent;
}

input:valid {
  background: bg-transparent;
}
body {
  direction: rtl;
  font-family: 'irsansxfn';
  font-size: 14px;
}
