@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --titleText: #373F46;
  --bgLoad: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-titleText: var(--titleText);
  --color-bgLoad: var(--bgLoad);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer components {
  .inputContainer{
    @apply flex flex-col w-full;
  }
  .inputLabel{
    @apply text-[13px] text-gray-600 mb-1 w-full;
  }
  .input{
    @apply border-[2px] border-gray-100 p-2 rounded-md w-full focus:border-gray-300 duration-300 focus:outline-0;
  }
  .buttonSubmit{
    @apply bg-teal-700 text-white rounded-md p-3 w-full cursor-pointer hover:bg-teal-800 duration-300;
  }
  .after{
    @apply after:content-[''] after:hidden after:w-full after:h-full after:bg-[#44433f2f] after:absolute after:top-0 after:z-10 hover:after:flex ;
  }
}
input{
  @apply bg-transparent;
}
input:invalid {
  background: pink;
}

input:focus {
  background: bg-transparent;
}

input:valid {
  background: bg-transparent;
}
body {
  direction: rtl;
  font-family: 'irsansxfn';
  font-size: 14px;
}

.generalButton{
  background-color: rgba(0, 117, 149, 1);
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: all .4s;
  font-size: 16px;
}
.generalButton:hover{
  background-color: rgba(0, 93, 118, 1);
}
.quantityButton:hover{
  background-color: rgb(70, 70, 71);
}
.backButton:hover{
  background-color: rgb(225, 225, 225);
}
.backButton {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 62px;
  height: 62px;
  justify-content: center;
  border-radius: 100%;
  transition: all .4s;
}
.quantityButton{
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgba(96, 96, 98, 1);
}